<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzz.campusback.mapper.ItemMapper">
    <select id="getRandomItem" resultType="com.hzz.campusback.model.entity.Item">
        select * from item
        order by rand() limit 1
    </select>
</mapper>